// ========================================= //
//			Colors Used in Landing Page
// ========================================= //

$white:				#FFFFFF;
$tundora:			#444444;
$dove-gray:			#666666;
$hint-of-red:		#FAF8F8;
$shamrock: 			#62D9E2;
$mine-shaft:		#1F1F1F;
$Gallery:           #eceaea;
$alabaster:         #F8F8F8;
$black:				#000000;
